In [1]:
import pandas as pd

In [2]:
csv_path = 'genres.csv'

genres_df = pd.read_csv(csv_path, encoding="utf-8")
genres_df.head()

,mode,genres,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key
0,1,basshall,0.213167,0.818,169799.1667,0.630167,0.000020,0.081067,-6.627833,0.134833,115.092500,0.588667,80.666667,2
1,1,south african house,0.043833,0.847,311854.3333,0.562333,0.130339,0.075133,-7.719000,0.050733,123.676333,0.834333,80.000000,1
2,1,trap venezolano,0.044600,0.877,231848.0000,0.777000,0.000035,0.086300,-4.246000,0.117000,102.020000,0.706000,80.000000,1
3,0,turkish edm,0.008290,0.698,186700.0000,0.719000,0.000004,0.326000,-4.923000,0.045500,120.062000,0.364000,80.000000,0
4,0,alberta hip hop,0.330000,0.885,144000.0000,0.685000,0.000000,0.148000,-6.429000,0.062700,99.954000,0.937000,78.500000,11

In [3]:
# delete columns that aren't neccessary to display

del genres_df['mode'] 
del genres_df['acousticness']
del genres_df['danceability']
del genres_df['duration_ms']
del genres_df['energy']
del genres_df['instrumentalness']
del genres_df['liveness'] 
del genres_df['loudness']
del genres_df['speechiness']
del genres_df['tempo']
del genres_df['valence']
del genres_df['key']

genres_df.head()

                genres  popularity
0             basshall   80.666667
1  south african house   80.000000
2      trap venezolano   80.000000
3          turkish edm   80.000000
4      alberta hip hop   78.500000

In [4]:
#sort popularity column by most to least popular

genres_df.sort_values(by='popularity', ascending=False)

                   genres  popularity
0                basshall   80.666667
2         trap venezolano   80.000000
3             turkish edm   80.000000
1     south african house   80.000000
4         alberta hip hop   78.500000
...                   ...         ...
2903         funk 150 bpm    0.000000
2902              full on    0.000000
2901     folclore navarra    0.000000
2900         focus trance    0.000000
2972         zurich indie    0.000000

[2973 rows x 2 columns]

In [5]:
#show top 10 and bottom 10 in popularity row

genres_df.head(10).append(genres_df.tail(10))

                   genres  popularity
0                basshall   80.666667
1     south african house   80.000000
2         trap venezolano   80.000000
3             turkish edm   80.000000
4         alberta hip hop   78.500000
5      chinese electropop   78.500000
6               afroswing   77.312500
7               afro soul   77.000000
8                 circuit   77.000000
9                guaracha   77.000000
2963            thai folk    0.000000
2964     trad jazz catala    0.000000
2965      trance mexicano    0.000000
2966            uzbek pop    0.000000
2967    uzbek traditional    0.000000
2968           vaudeville    0.000000
2969  vintage spanish pop    0.000000
2970             xtra raw    0.000000
2971          zambian pop    0.000000
2972         zurich indie    0.000000

In [24]:
genres_df.loc[(genres_df!=0.0).any(1)]

genres_df.tail(10)

                   genres  popularity
2963            thai folk         0.0
2964     trad jazz catala         0.0
2965      trance mexicano         0.0
2966            uzbek pop         0.0
2967    uzbek traditional         0.0
2968           vaudeville         0.0
2969  vintage spanish pop         0.0
2970             xtra raw         0.0
2971          zambian pop         0.0
2972         zurich indie         0.0

In [26]:
#get rid of rows that have a value of 0

genres_df= genres_df[genres_df['popularity'] != 0]

genres_df.head(10).append(genres_df.tail(10))

                          genres  popularity
0                       basshall   80.666667
1            south african house   80.000000
2                trap venezolano   80.000000
3                    turkish edm   80.000000
4                alberta hip hop   78.500000
5             chinese electropop   78.500000
6                      afroswing   77.312500
7                      afro soul   77.000000
8                        circuit   77.000000
9                       guaracha   77.000000
2864              khaleeji iraqi    0.166667
2865  middle eastern traditional    0.166667
2866                      mantra    0.148000
2867              greek clarinet    0.125000
2868                 groove room    0.111111
2869                 nuevo tango    0.105263
2870     historic string quartet    0.085034
2871                    ilahiler    0.071429
2872                  sufi chant    0.071429
2873                       veena    0.035714