In [29]:
# Import Matplot lib
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt

In [30]:
# Import SQLAlchemy `automap` and other dependencies here
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

database_path = "../spotify.sqlite"

In [31]:
# Import Pandas
import pandas as pd

In [32]:
#Create an engine for the `spotify.sqlite` database
engine = create_engine(f"sqlite:///{database_path}", echo=False)
conn = engine.connect()

In [33]:
#import csv file and make it into a dataframe
artists = '../artists.csv'
artists_df = pd.read_csv(artists)
artists_df.tail()

,id,followers,genres,name,popularity
1104344,6rJIG42vcWAf1UBdRFlQxB,3345.0,[],Cody Longo,8
1104345,1ljurfXKPlGncNdW3J8zJ8,2123.0,['deep acoustic pop'],Right the Stars,18
1104346,2vnT9YhKIvjVo9LnVjWmr2,26.0,[],Jesse Giddings,0
1104347,3ID0E5XCvnJIYZEq043ZoB,406.0,[],The Boy Band Project,0
1104348,5m0Y4WSYyai2BU752lCASy,146.0,[],10 Reasons,1

In [34]:
# reorganize data from most followers to least
artists_df.sort_values(by=['followers'],inplace = True, ascending = False)
artists_df.head()

,id,followers,genres,name,popularity
144138,6eUKZXaKkcviH0Ku9w2n3V,78900234.0,"['pop', 'uk pop']",Ed Sheeran,92
144485,66CXWjxzNUsdJxJ2JdwvnR,61301006.0,"['pop', 'post-teen pop']",Ariana Grande,95
313676,3TVXtAsR1Inumwj472S9r4,54416812.0,"['canadian hip hop', 'canadian pop', 'hip hop'...",Drake,98
144481,1uNFoZAHBGtllmzznpCI3s,44606973.0,"['canadian pop', 'pop', 'post-teen pop']",Justin Bieber,100
144488,7dGJo4pcD2V6oG8kP0tJRR,43747833.0,"['detroit hip hop', 'hip hop', 'rap']",Eminem,94

In [35]:
# take out columns not needed
artists_cols = ['name','genres','followers','popularity']
artists_v2 = artists_df[artists_cols].copy()

artists_v2.head()

,name,genres,followers,popularity
144138,Ed Sheeran,"['pop', 'uk pop']",78900234.0,92
144485,Ariana Grande,"['pop', 'post-teen pop']",61301006.0,95
313676,Drake,"['canadian hip hop', 'canadian pop', 'hip hop'...",54416812.0,98
144481,Justin Bieber,"['canadian pop', 'pop', 'post-teen pop']",44606973.0,100
144488,Eminem,"['detroit hip hop', 'hip hop', 'rap']",43747833.0,94

In [36]:
#rename columns
artists_renamed = artists_v2.rename(columns ={

'name': 'Artist',
'genres': 'Genre',
'followers': 'Followers',
'popularity':'Popularity Lvl'})

artists_renamed.head(10)

,Artist,Genre,Followers,Popularity Lvl
144138,Ed Sheeran,"['pop', 'uk pop']",78900234.0,92
144485,Ariana Grande,"['pop', 'post-teen pop']",61301006.0,95
313676,Drake,"['canadian hip hop', 'canadian pop', 'hip hop'...",54416812.0,98
144481,Justin Bieber,"['canadian pop', 'pop', 'post-teen pop']",44606973.0,100
144488,Eminem,"['detroit hip hop', 'hip hop', 'rap']",43747833.0,94
313508,Rihanna,"['barbadian pop', 'dance pop', 'pop', 'post-te...",42244011.0,92
126658,Billie Eilish,"['electropop', 'pop']",41792604.0,92
126338,Taylor Swift,"['pop', 'post-teen pop']",38869193.0,98
126339,Imagine Dragons,"['modern rock', 'rock']",33665795.0,89
144496,Queen,"['classic rock', 'glam rock', 'rock']",33483326.0,89

In [37]:
artists_reset = artists_renamed.reset_index()
artists_reset.head()

,index,Artist,Genre,Followers,Popularity Lvl
0,144138,Ed Sheeran,"['pop', 'uk pop']",78900234.0,92
1,144485,Ariana Grande,"['pop', 'post-teen pop']",61301006.0,95
2,313676,Drake,"['canadian hip hop', 'canadian pop', 'hip hop'...",54416812.0,98
3,144481,Justin Bieber,"['canadian pop', 'pop', 'post-teen pop']",44606973.0,100
4,144488,Eminem,"['detroit hip hop', 'hip hop', 'rap']",43747833.0,94

In [38]:
artists_final = artists_reset.rename(columns={"index":'id'})

artists_final.head(10)

,id,Artist,Genre,Followers,Popularity Lvl
0,144138,Ed Sheeran,"['pop', 'uk pop']",78900234.0,92
1,144485,Ariana Grande,"['pop', 'post-teen pop']",61301006.0,95
2,313676,Drake,"['canadian hip hop', 'canadian pop', 'hip hop'...",54416812.0,98
3,144481,Justin Bieber,"['canadian pop', 'pop', 'post-teen pop']",44606973.0,100
4,144488,Eminem,"['detroit hip hop', 'hip hop', 'rap']",43747833.0,94
5,313508,Rihanna,"['barbadian pop', 'dance pop', 'pop', 'post-te...",42244011.0,92
6,126658,Billie Eilish,"['electropop', 'pop']",41792604.0,92
7,126338,Taylor Swift,"['pop', 'post-teen pop']",38869193.0,98
8,126339,Imagine Dragons,"['modern rock', 'rock']",33665795.0,89
9,144496,Queen,"['classic rock', 'glam rock', 'rock']",33483326.0,89

In [40]:
artists_final.to_sql("spotify",conn)

ValueError: Table 'spotify' already exists.

In [41]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [42]:
# Collect the names of tables within the database
inspector.get_table_names()

['spotify']